body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #353535;
}

button {
  display: flex;
  justify-content: center;
  margin: 22px;
  color: rgb(252, 134, 0);
  background-color: #42392c;
  border-radius: 5%;
}

button:hover {
  background-color: rgb(82, 75, 75);
}

h1 {
  color: rgb(255, 123, 0);
}
h2 {
  color: rgb(255, 123, 0);
}

code {
  background: #505050;
  color: #f5d67b;
  font-family: monospace;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
