body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

button {
  display: flex;
  justify-content: center;
  margin: 22px;
}

button:hover {
  background-color: gold;
}

h1 {
  color: rgb(255, 123, 0);
}
h2 {
  color: rgb(255, 123, 0);
}

code {
  background: #505050;
  color: #f5d67b;
  font-family: monospace;
  box-decoration-break: clone;
  padding: 0.1rem 0.3rem 0.2rem;
  border-radius: 0.2rem;
}
